* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.background-image {
  background-image: url("earth.jpg");
  background-position: center;
  background-size: cover;
  height: 500px;
}

#pageTitle {
  margin-bottom: 30px;
}
.center {
  display: flex;
  justify-content: center;
}

.converterContainer {
  margin-top: -200px;
  width: 75%;
  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: 20% 80%;
  background-color: white;
  border-radius: 1em;
  box-shadow: 0px 5px 10px;
  height: 500px;
  padding: 3em;
}

.pageTitleContainer {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 100px 100px;
  text-align: center;
}

.useExampleContainer {
  margin: 100px 100px;
  display: flex;
  justify-content: center;
  width: 75%;
}

input {
  display: block;
}
label {
  display: block;
}
select {
  display: block;
}
